nav  {
  margin-bottom:  25px;
}
nav  > ul {
  list-style-type:  none;
  border:  3px solid brown;
  height:  50px;
  display:  flex;
  justify-content:  space-evenly;
  align-items:  center;
}
nav  > ul > li > a {
  color:  blue;
  text-decoration:  none;
}
nav  > ul > li > a:hover {
  color:  blueviolet;
  text-decoration:  underline;
}