

.app_app__first{
  display: flex;
  flex-direction: row;
  height: 100%;
  color: rgb(19, 18, 18);
  background-color: rgb(243, 241, 238);
  // font-family: $font-family-content;
}
.app_mainContent__3N2BW {
  width: 100%;
  margin-left: 28vw;
}

section {
  display: block;
}